.container {
  height: 100vh;
  max-height: 150rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 30px 0px;
  gap: 30px;
}

.itemWrapper {
  display: flex;
  flex-direction: row;
  gap: 20px;
  border: 1.5px solid rgb(153, 149, 149);
  border-radius: 10px;
  padding: 8px 16px;
  background-color: white;
  min-height: 150px;
  align-items: center;
  margin: 0; 
  width: 80%; 
  max-width: 600px;
}

.buttonWrapper {
    display: flex;
    gap: 20px;
}

.Button {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(176, 167, 167);
    border-radius: 0.5em;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s;
    padding: 6px 14px;
    font-size: 20px;
    font: bold;
}

.Button1 {
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 0.5em;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s;
    padding: 6px 14px;
    font-size: 25px;
    background-color: white;
    font: bold;
}

.removeButton {
  background-color: rgb(255, 255, 255);
  padding: 5px 10px;
  border: 1px solid rgb(176, 167, 167);
  border-radius: 4px;
  margin-top: 10px;
  cursor: pointer;
}
